/* h3{
    text-align: center;
}



button{
     display: block;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 10px;
       
}

div{
    width: 500px;
    height: 100px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
} */

/* 
input{
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

button{
     display: block;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 10px;
       
} */